/* Font */
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.sidebar {
    grid-row: 1 / 3;
    background-color: #1892d3;
    color: #ffffff;
    display: grid;
    grid-template-rows: 6rem 21rem 20rem;
}

.dashboard-logo img {
    height: 3rem;
    width: 3rem;
}

.dashboard-logo {
    font-size: 2rem;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem 0rem 1rem;   
}

.menu ul, .settings-menu ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu ul li, .settings-menu ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.2rem;
}

.menu img, .settings-menu img {
    height: 1.8rem;
    width: 1.8rem;
}

.menu, .settings-menu {
    padding-left: 1.5rem;
}

/* Header */
.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 0.6rem 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 183px;
}

/* Top part of header */
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.search-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.search-container img {
    height: 1.7rem;
    width: 1.7rem;
}

.search-container > input {
    width: 35rem;
    border-radius: 15px;
    border-style: none;
    background-color: #e1e8f0;
    padding: 5px;
}

.logo-top-right{
    width: 20rem;;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.logo-top-right > p{
    font-size: 1.4rem;
}

.logo-top-right > img:nth-child(1) {
    height: 1.7rem;
    width: 1.7rem;
}

.logo-top-right > img:nth-child(2) {
    height: 3.7rem;
    width: 3.7rem;
}

/* Bottom part of header */
.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hi-section{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
}

.hi-section > img {
    width: 5rem;
    height: 5rem;
    grid-row: 1/3;
}

.name-text{
    font-size: 1.6rem;
}

/* Main Content */
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Your Projects section */
.projects-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-row: 1 / 3;
}

.projects-section > h3 {
    grid-column: 1 / -1;
}

/* Trending Section */
.trending-section{
    grid-column: 2 / 3;
}